@import './reset';
body{
    max-width: 1440px;
    background-color: #F2F2F2;
    font-family: 'Gilroy-Regular', sans-serif;
    position: relative;
    margin: 0 auto;
    color: #313131;
}
.container{
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
}
.none{
    display: none !important;
}
.hidden{
    overflow: hidden !important;
}