<section class="char">
    <div class="container">
        <div class="char__body">
            <div class="char__body-item">
                <img src="../images/dist/c1.png" alt="">
                <span>Большой выбор</span>
                <p>Изготавливаем более 40 моделей любых размеров в пределах от 500мм до 3000мм.</p>
            </div>
            <div class="char__body-item">
                <img src="../images/dist/c2.png" alt="">
                <span>Быстрые сроки</span>
                <p>Четкое соблюдение сроков: от 1-й до 4-х недель (в зависимости от сложности изделия)</p>
            </div>
            <div class="char__body-item">
                <img src="../images/dist/c3.png" alt="">
                <span>Гарантия качества</span>
                <p>Производство по ГОСТ 31311-2005. Срок службы более 30 лет</p>
            </div>
            <div class="char__body-item">
                <img src="../images/dist/c4.png" alt="">
                <span>Доставка</span>
                <p>Доставляем по всей России в короткие сроки. Любой транспортной компанией</p>
            </div>
        </div>
    </div>
</section>