<section class="form">
    <div class="form__body">
        <div class="form__body-main">
            <div class="form__body-main-text">
                <h2>Рассчитаем
                    <br>стоимость радиатора
                    <br>по вашим паратмерам
                </h2>
                <p>В ближайшее время мы свяжемся с Вами для уточнения деталей.</p>
            </div>
            <form action="" class="form__body-main-form">
                <input placeholder="Ваше имя" type="text">
                <input placeholder="Телефон" type="tel">
                <button class="form__btn">Получить расчет</button>
            </form>
        </div>
        <img src="../images/dist/form__img.png" alt="">
    </div>
</section>