<header class="header">
    <div class="container">
        <div class="header__body">
            <div class="header__body-start">
                <a href="" class="header__body-start-logo">
                    <img src="../images/dist/header__img.png" alt="">
                    <span>Radiator <br> Design</span>
                </a>
                <nav class="header__body-start-menu">
                    <ul class="header__body-start-menu-links">
                        <li class="header__body-start-menu-links-item">
                            <a href="">Преимущества</a>
                        </li>
                        <li class="header__body-start-menu-links-item">
                            <a href="">Каталог</a>
                        </li>
                        <li class="header__body-start-menu-links-item">
                            <a href="">О компании </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="header__body-end">
                <a class="header__body-end-mail" href="mailto:info@radiator.ru">
                    info@radiator.ru
                </a>
                <a href="tel:+79999999999" class="header__body-end-tel">
                    +7 (999) 999-99-99
                </a>
                <button class="header__body-end-btn">
                    Обратный звонок
                </button>
            </div>
        </div>
    </div>
</header>