<main class="main">
    <div class="main__body">
        <div class="main__body-start">
            <div class="main__body-start-text">
                <h1>Производство дизайнерских трубчатых радиаторов <span>с гарантией 8 лет</span></h1>
                <p>В наличии и под заказ напрямую от производителя от 7 500 ₽ с доставкой по Москве и РФ</p>
            </div>
            <div class="main__body-start-do">
                <button class="main__body-start-do-btn open__form">
                    Узнать подробнее
                </button>
                <img src="../images/dist/main__img.png" alt="">
            </div>
        </div>
        <div class="main__body-end">

        </div>
    </div>
</main>