<section class="que">
    <div class="container">
        <div class="que__body">
            <div class="que__body-start">
                <h2 class="que__body-start-title">
                    Вопросы и ответы
                </h2>
                <img src="../images/dist/q__img.png" alt="">
            </div>
            <div class="que__body-box">
                <div class="que__body-box-item">
                    <div class="que__body-box-item-top">
                        <span>Делаете ли вы электрические радиаторы?</span>
                        <img src="../images/dist/ac__img.png" alt="">
                    </div>
                    <p class="desc">Тут какой-то текст</p>
                </div>
                <div class="line"></div>
                <div class="que__body-box-item">
                    <div class="que__body-box-item-top">
                        <span>Сколько делаются радиаторы под заказ?</span>
                        <img src="../images/dist/ac__img.png" alt="">
                    </div>
                    <p class="desc">Тут какой-то текст</p>
                </div>
                <div class="line"></div>
                <div class="que__body-box-item">
                    <div class="que__body-box-item-top">
                        <span>Есть ли радиаторы в наличии?</span>
                        <img src="../images/dist/ac__img.png" alt="">
                    </div>
                    <p class="desc">Тут какой-то текст</p>
                </div>
                <div class="line"></div>
                <div class="que__body-box-item">
                    <div class="que__body-box-item-top">
                        <span>Делаете ли радиаторы по индивидуальным эскизам?</span>
                        <img src="../images/dist/ac__img.png" alt="">
                    </div>
                    <p class="desc">Тут какой-то текст</p>
                </div>
                <div class="line"></div>
                <div class="que__body-box-item">
                    <div class="que__body-box-item-top">
                        <span>Доставляете по всей России?</span>
                        <img src="../images/dist/ac__img.png" alt="">
                    </div>
                    <p class="desc">Тут какой-то текст</p>
                </div>
                <div class="line"></div>
            </div>
        </div>
    </div>
</section>