<section class="type">
    <div class="container">
        <div class="type__body">
            <div class="type__body-text">
                <h2>Виды трубчатых <br> радиаторов</h2>
                <p>Согревайте ваш дом
                    <br>со стилем!</p>
            </div>
            <div class="type__body-box">
                <div class="type__body-box-item">
                    <img src="../images/dist/t1.png" alt="">
                    <span>Вертикальные радиаторы</span>
                    <a href="">Подробнее</a>
                </div>
                <div class="type__body-box-item">
                    <img src="../images/dist/t2.png" alt="">
                    <span>Горизонтальные
                        радиаторы</span>
                    <a href="">Подробнее</a>
                </div>
                <div class="type__body-box-item">
                    <img src="../images/dist/t3.png" alt="">
                    <span>Напольные
                        радиаторы</span>
                    <a href="">Подробнее</a>
                </div>
                <div class="type__body-box-item">
                    <img src="../images/dist/t4.png" alt="">
                    <span>Дизайнерские
                        радиаторы</span>
                    <a href="">Подробнее</a>
                </div>
            </div>
        </div>
    </div>
</section>