<section class="works">
    <div class="container">
        <div class="works__body">
            <div class="works__body-text">
                <h2>Наши работы</h2>
                <p>Ознакомьтесь с нашими лучшими работами!</p>
            </div>
            <section class="splide" aria-label="Splide Basic HTML Example">
                <div class="splide__arrows">
                    <button class="splide__arrow splide__arrow--prev">
                        <img src="../images/dist/a__left.png" alt="">
                    </button>
                    <button class="splide__arrow splide__arrow--next">
                        <img src="../images/dist/a__right.png" alt="">
                    </button>
                </div>
                <div class="splide__track">
                    <ul class="splide__list">
                        <li class="splide__slide">
                            <img src="../images/dist/s1.png" alt="">
                        </li>
                        <li class="splide__slide">
                            <img src="../images/dist/s2.png" alt="">
                        </li>
                        <li class="splide__slide">
                            <img src="../images/dist/s3.png" alt="">
                        </li>
                    </ul>
                </div>
            </section>
        </div>
    </div>
</section>